[Desktop Entry]
Name=ApacheJMeter
Comment=ApacheJMeter
Type=Application
Encoding=UTF-8
Exec=/opt/apache-jmeter-5.5/bin/jmeter
Icon=/opt/apache-jmeter-5.5/docs/images/jmeter_square.png
Categories=Application;Development;
Terminal=false
StartupNotify=true

